@mixin transparentButton {
  background: Transparent;
  border: 1px solid $white-color;
  box-shadow: none;
};

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
};

@mixin navigationBar {
  @include flex;

  height: 83px;
  padding: 0 100px 0 82px;

  background-color: $dark-background-color;
  background-size: cover;
  @media (max-width: 991.98px) {
    padding: 0 18px 0 18px;
  }
  @media (max-width: 767.98px) {
    background-color: $mobile-black-bg;
  }

  @media (max-width: 375px) {
    height: 57px;
  }
  &--h1 {
    font-family: $FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: $font-yellow-color;
    cursor: pointer;
    @media (max-width: 375px) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &--logo_link {
    color: $font-yellow-color;
  }

  &--logo_link:hover {
    color: $white-color;
  }

  &--navbar {
    width: 47%;
    @media (min-width: 992px) and (max-width: 1199.98px) {
      width: 58%;
    }
    @media (max-width: 991.98px)  {
      display: none;
    }
  }
  &--ul {
    @include flex();
    width: 100%;
    padding: 0 10px;
  }

  &--link_item {
    font-family: $FuturaBookC;
    font-size: 14px;
    line-height: 16px;
    color: $white-color;

    &:hover {
      color: $font-yellow-color;
    }

    &-selected {
      color: $font-yellow-color;
    }

    &-selected:hover {
      color: $white-color;
    }

  }

  &--tel {
    font-family: $FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    text-decoration-line: underline;

    color: $font-yellow-color;
    @media (max-width: 991.98px) {
      color: $white-color;
      text-decoration-line: none;
    }

    @media (max-width: 375px) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &--tel:hover {
    color: $white-color;

    @media (max-width: 991.98px) {
      color: $font-yellow-color;
      text-decoration-line: underline;
    }
  }

  &--button {
    background: $font-yellow-color;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;

    height: 37px;
    width: 161px;

    font-family: $FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;

    color: $white-color;

    &:hover {
      color: $dark-background-color;
    }

    @media (max-width: 1199.98px) {
      display: none;
    }
  }
};


