$dark-background-color: #131313;
$font-yellow-color: #E3B873;
$white-color: #FFFFFF;
$black-color: #181818;
$black-background: #363636;
$request-background: #131313;

$width: 1440px;
$completed_project_block_ml: 27px;

$FuturaDemiC: "FuturaDemiC", "Arial", sans-serif;
$FuturaBookC: "FuturaBookC", "Arial", sans-serif;
$FuturaMediumC: "FuturaMediumC", "Arial", sans-serif;
$YesevaOne: "Yeseva One","Georgia", serif;
$ProximaNova: "Proxima Nova", "Arial", sans-serif;
