$dark-background-color: #131313;
$font-yellow-color: #E3B873;
$white-color: #FFFFFF;

$width: 1440px;
$completed_project_block_ml: 27px;

$FuturaDemiC: "FuturaDemiC", "Arial", sans-serif;
$FuturaBookC: "FuturaBookC", "Arial", sans-serif;
$YesevaOne: "Yeseva One", serif;
