* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.background_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "FuturaDemiC";
  src: url("../assets/fonts/FuturaDemiC.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaBookC";
  src: url("../assets/fonts/FuturaBookC.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yeseva One";
  src: url("../assets/fonts/YesevaOne.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaMediumC";
  src: url("../assets/fonts/Futuramediumc.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 83px;
  padding: 0 100px 0 82px;
  background-color: #131313;
  background-size: cover;
}
@media (max-width: 991.98px) {
  .header {
    padding: 0 18px 0 18px;
  }
}
@media (max-width: 767.98px) {
  .header {
    background-color: #252525;
  }
}
@media (max-width: 375px) {
  .header {
    height: 57px;
  }
}
.header--h1 {
  font-family: "FuturaDemiC", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
}
@media (max-width: 375px) {
  .header--h1 {
    font-size: 12px;
    line-height: 14px;
  }
}
.header--navbar {
  width: 47%;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header--navbar {
    width: 58%;
  }
}
@media (max-width: 991.98px) {
  .header--navbar {
    display: none;
  }
}
.header--ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}
.header--link_item {
  font-family: "FuturaBookC", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.header--link_item:hover {
  color: #E3B873;
}
.header--tel {
  font-family: "FuturaDemiC", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  text-decoration-line: underline;
  color: #E3B873;
}
@media (max-width: 991.98px) {
  .header--tel {
    color: #FFFFFF;
  }
}
@media (max-width: 375px) {
  .header--tel {
    font-size: 12px;
    line-height: 14px;
  }
}
.header--button {
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: 0;
  height: 37px;
  width: 161px;
  font-family: "FuturaDemiC", "Arial", sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header--button:hover {
  color: #131313;
}
@media (max-width: 1199.98px) {
  .header--button {
    display: none;
  }
}

.main_img_container {
  position: relative;
  display: flex;
  height: 707px;
}
@media (max-width: 767.98px) {
  .main_img_container {
    height: 476px;
  }
}
.main_img_container--aside_instagram_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82px;
  height: 100%;
  padding-bottom: 83px;
  background-color: #131313;
}
@media (max-width: 991.98px) {
  .main_img_container--aside_instagram_wrapper {
    display: none;
  }
}
.main_img_container--scroll_down_block {
  position: absolute;
  top: 658px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 247px;
  height: 97px;
  background-color: #131313;
}
@media (max-width: 991.98px) {
  .main_img_container--scroll_down_block {
    display: none;
  }
}
.main_img_container--scroll_down_text {
  padding-right: 12px;
  font-family: "Yeseva One", "Georgia", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main_img_container--scroll_down_text:hover {
  color: #E3B873;
}
.main_img_container--scroll_down_button:hover {
  height: 35px;
  width: 35px;
}

.aside_instagram_text {
  width: 13px;
  margin: 0 auto;
}
.aside_instagram_text--paragraph {
  font-family: "FuturaDemiC", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
  transform: rotate(90deg);
}
.aside_instagram_text--aside_vector {
  display: block;
  margin: 77px auto 0 auto;
}
.aside_instagram_text--link:hover {
  color: #FFFFFF;
}

.main_img {
  width: calc(100% - 80px);
  height: 100%;
  background-image: url("../assets/images/main-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 991.98px) {
  .main_img {
    width: 100%;
  }
}
.main_img--title {
  padding-left: 4.5%;
  padding-top: 14.3%;
  margin: 0;
  font-family: "Yeseva One", "Georgia", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 575.98px) {
  .main_img--title {
    font-size: 27px;
    line-height: 132.83%;
    padding-top: 22.7%;
  }
}
@media (max-width: 375px) {
  .main_img--title {
    font-size: 23px;
    line-height: 31px;
  }
}
.main_img--title-yellow {
  color: #E3B873;
}
.main_img--text {
  padding-left: 4.5%;
  margin-top: 19px;
  width: 473px;
  font-family: "FuturaBookC", "Arial", sans-serif;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}
@media (max-width: 575.98px) {
  .main_img--text {
    margin-top: 16px;
    margin-bottom: 6px;
    width: 80%;
    font-size: 18px;
    line-height: 135.84%;
  }
}
@media (max-width: 375px) {
  .main_img--text {
    font-size: 18px;
    line-height: 24px;
  }
}
.main_img--button {
  margin-top: 41px;
  height: 51px;
  width: 207px;
  margin-right: 15px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: Transparent;
  font-family: "FuturaDemiC", "Arial", sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 575.98px) {
  .main_img--button {
    display: block;
    width: 91%;
    margin: 26px auto;
  }
}
.main_img--button-hover {
  margin-left: 4.5%;
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}
.main_img--button-hover:hover {
  color: #131313;
}
.main_img--button:hover {
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

/* the end of the main images block */
.separator_links_container {
  background-color: #131313;
  height: 176px;
}
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .separator_links_container {
    height: 100px;
  }
}
@media (max-width: 991.98px) {
  .separator_links_container {
    display: none;
  }
}
.separator_links_container--links_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 623px;
  height: 24px;
  margin-left: 41.5%;
  padding-top: 106px;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .separator_links_container--links_block {
    margin-left: 300px;
    padding-top: 5%;
  }
}
.separator_links_container--link {
  font-family: "Yeseva One", "Georgia", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}
.separator_links_container--link:hover {
  color: #E3B873;
  text-decoration: underline;
}
.separator_links_container--link-hover {
  color: #E3B873;
  text-decoration: underline;
}
.separator_links_container--link-hover:hover {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

/* the start of completed_project block */
.completed_project_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #131313;
}
@media (max-width: 767.98px) {
  .completed_project_container {
    background-color: #252525;
  }
}
.completed_project_container--text_block {
  width: 35.2%;
  margin-top: 0;
  margin-left: 70px;
}
@media (max-width: 1199.98px) {
  .completed_project_container--text_block {
    width: 32.2%;
    margin-left: 45px;
  }
}
@media (max-width: 991.98px) {
  .completed_project_container--text_block {
    width: 53.2%;
    margin-top: 15px;
    margin-left: 10px;
  }
}
@media (max-width: 767.98px) {
  .completed_project_container--text_block {
    margin-left: 0;
    width: 100%;
  }
}
.completed_project_container--slider_block {
  width: 58.5%;
  height: 482px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1199.98px) {
  .completed_project_container--slider_block {
    width: 63%;
    height: 482px;
  }
}
@media (max-width: 991.98px) {
  .completed_project_container--slider_block {
    width: 45%;
    height: 482px;
  }
}
@media (max-width: 767.98px) {
  .completed_project_container--slider_block {
    display: none;
  }
}
.completed_project_container--img_separator {
  position: absolute;
  z-index: 1;
  width: 700px;
  height: 482px;
  background-color: #131313;
}
@media (max-width: 1199.98px) {
  .completed_project_container--img_separator {
    display: none;
  }
}
.completed_project_container--images_block {
  position: relative;
  width: 2000px;
}
@media (max-width: 1199.98px) {
  .completed_project_container--images_block {
    width: 100%;
  }
}
.completed_project_container--images_block-first {
  position: absolute;
  z-index: 2;
  margin-right: 20px;
}
@media (max-width: 1199.98px) {
  .completed_project_container--images_block-first {
    top: 50px;
    right: 0;
    width: 545px;
    height: 386px;
    margin-right: 10px;
  }
}
@media (max-width: 991.98px) {
  .completed_project_container--images_block-first {
    top: 50px;
    right: 0;
    width: 324px;
    height: 230px;
    margin-right: 10px;
  }
}
.completed_project_container--images_block-second {
  display: block;
  position: absolute;
  z-index: 0;
  left: 563px;
}
@media (max-width: 1199.98px) {
  .completed_project_container--images_block-second {
    display: none;
  }
}
.completed_project_container--arrow_right {
  width: 85px;
  height: 85px;
  background-image: url("../assets/images/slider-button-right.png");
  position: absolute;
  top: 194px;
  right: 25px;
  z-index: 10;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .completed_project_container--arrow_right {
    top: 119px;
    right: 0px;
  }
}

.mobile_completed_project_container {
  display: none;
}
@media (max-width: 767.98px) {
  .mobile_completed_project_container {
    display: block;
  }
}
.mobile_completed_project_container--images_block {
  position: relative;
  max-width: 375px;
  max-height: 264px;
  margin: 0 auto 36px auto;
}
.mobile_completed_project_container--arrow_left {
  width: 36px;
  height: 36px;
  background-image: url("../assets/images/arrows/round-arrow-left.png");
  position: absolute;
  top: 103px;
  left: 31px;
}
.mobile_completed_project_container--arrow_left:hover {
  background-color: #FFFFFF;
}
.mobile_completed_project_container--arrow_right {
  width: 36px;
  height: 36px;
  background-image: url("../assets/images/arrows/round-arrow-right.png");
  position: absolute;
  top: 103px;
  right: 31px;
}
.mobile_completed_project_container--arrow_right:hover {
  background-color: #FFFFFF;
}
@media (max-width: 375px) {
  .mobile_completed_project_container--image {
    max-width: 340px;
    max-height: 242px;
    margin: 0 17px;
  }
}

.completed_project_links {
  margin-top: 66px;
}
@media (max-width: 1199.98px) {
  .completed_project_links {
    margin-top: 22px;
  }
}
@media (max-width: 991.98px) {
  .completed_project_links {
    display: none;
  }
}
.completed_project_links--link {
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  pointer-events: auto;
}
.completed_project_links--prev_arrow {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  pointer-events: auto;
  margin-right: 15px;
}
.completed_project_links--next_arrow {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  pointer-events: auto;
}
.completed_project_links--link-hover {
  background-color: #FFFFFF;
}

.completed_project_description--title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Yeseva One", "Georgia", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
}
@media (max-width: 767.98px) {
  .completed_project_description--title {
    margin: 10px auto 10px auto;
    width: 150px;
    display: block;
  }
}
@media (max-width: 575.98px) {
  .completed_project_description--title {
    margin: 21px auto 22px auto;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.07em;
  }
}
.completed_project_description--title_vector {
  margin: 9px 2px;
}
@media (max-width: 767.98px) {
  .completed_project_description--title_vector {
    display: none;
  }
}
.completed_project_description--text {
  padding-right: 75px;
  font-family: "FuturaBookC", "Arial", sans-serif;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}
@media (max-width: 767.98px) {
  .completed_project_description--text {
    width: 350px;
    display: block;
    margin: 0 auto 30px auto;
    padding-right: 0;
  }
}
@media (max-width: 575.98px) {
  .completed_project_description--text {
    padding: 0 32px;
    margin: 0 auto 36px auto;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
}

.completed_project_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 364px;
  height: 156px;
  margin-top: 50px;
}
@media (max-width: 767.98px) {
  .completed_project_grid {
    margin: 10px auto;
  }
}
@media (max-width: 575.98px) {
  .completed_project_grid {
    width: 341px;
    height: 146px;
    margin: 0 auto 27px auto;
  }
}
.completed_project_grid--subtitle {
  font-family: "Yeseva One", "Georgia", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
}
@media (max-width: 575.98px) {
  .completed_project_grid--subtitle {
    font-size: 14px;
    line-height: 19px;
  }
}
.completed_project_grid--text {
  font-family: "FuturaBookC", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}
@media (max-width: 575.98px) {
  .completed_project_grid--text {
    font-size: 14px;
    line-height: 19px;
  }
}
@media (max-width: 575.98px) {
  .completed_project_grid--item-end {
    display: grid;
    align-content: end;
  }
}

/* the end of completed_project block */
.video_container {
  position: relative;
  background-color: #131313;
}
@media (max-width: 767.98px) {
  .video_container {
    padding-bottom: 61px;
    background-color: #252525;
  }
}

.video_container_title {
  width: 196px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 18px;
  font-family: "Yeseva One", "Georgia", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
}
@media (max-width: 991.98px) {
  .video_container_title {
    width: 224px;
    font-size: 22px;
    line-height: 30px;
    padding-top: 38px;
    padding-bottom: 20px;
  }
}

.video_container_separator {
  width: 114px;
  position: relative;
  margin: 0 auto;
}
.video_container_separator--left_vector {
  position: absolute;
  top: 15px;
  left: 0;
}
.video_container_separator--camera {
  position: absolute;
  width: 33px;
  height: 28px;
  left: 40px;
}
.video_container_separator--right_vector {
  position: absolute;
  top: 15px;
  right: 5px;
}

.video_container_video {
  position: relative;
  width: 100%;
}
.video_container_video--frame {
  position: relative;
  border: 0;
  z-index: 2;
  display: block;
  width: 817px;
  margin: 60px auto 0 auto;
}
@media (max-width: 991.98px) {
  .video_container_video--frame {
    height: 275px;
    width: 517px;
    margin: 88px auto 0 auto;
  }
}
@media (max-width: 575.98px) {
  .video_container_video--frame {
    height: 207px;
    width: 340px;
    margin: 68px auto 0 auto;
  }
}
.video_container_video--controls {
  position: absolute;
  z-index: 2;
  height: 145px;
  width: 145px;
  top: calc(50% - 72.5px);
  left: calc(50% - 72.5px);
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .video_container_video--controls {
    top: calc(50% - 31.5px);
    left: calc(50% - 31.5px);
    height: 63px;
    width: 63px;
  }
}
.video_container_video--controls_img {
  height: 145px;
  width: 145px;
}
@media (max-width: 991.98px) {
  .video_container_video--controls_img {
    height: 63px;
    width: 63px;
  }
}

.video_container_background_box {
  position: absolute;
  z-index: 0;
  top: 421px;
  height: 209px;
  width: 100%;
  background-color: #FFFFFF;
}
@media (max-width: 991.98px) {
  .video_container_background_box {
    display: none;
  }
}

.video_container_vector_block {
  height: 98px;
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 63px;
}
.video_container_vector_block--img {
  display: block;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .video_container_vector_block {
    height: 51px;
    padding-top: 28px;
    background-color: #252525;
  }
}

.video_container_text {
  width: 100%;
  margin-bottom: 92px;
  background-color: #FFFFFF;
}
@media (max-width: 767.98px) {
  .video_container_text {
    background-color: #252525;
    margin: 0;
  }
}
.video_container_text--paragraph {
  max-width: 681px;
  margin: 0 auto;
  font-family: "FuturaBookC", "Arial", sans-serif;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}
@media (max-width: 767.98px) {
  .video_container_text--paragraph {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 18px;
  }
}

/* the end of video block */
.registration {
  height: 250px;
}
@media (max-width: 767.98px) {
  .registration {
    position: relative;
    height: 285px;
    background-color: #252525;
  }
}

.registration_form {
  width: 769px;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .registration_form {
    width: 340px;
  }
}

.registration_fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .registration_fields {
    width: 340px;
  }
}

.registration_form_field {
  width: 200px;
}
@media (max-width: 767.98px) {
  .registration_form_field {
    width: 340px;
  }
}
.registration_form_field--label {
  width: 231px;
  font-family: "FuturaBookC", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
}
@media (max-width: 767.98px) {
  .registration_form_field--label {
    width: 340px;
    color: rgba(255, 255, 255, 0.5);
  }
}
.registration_form_field--text {
  width: 231px;
  font-family: "FuturaBookC", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #363636;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}
@media (max-width: 767.98px) {
  .registration_form_field--text {
    width: 340px;
    color: #FFFFFF;
    background-color: #252525;
    border-bottom: 1px solid #FFFFFF;
  }
}
.registration_form_field--button {
  height: 51px;
  width: 200px;
  background: #E3B873;
  box-shadow: 0 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
  font-family: "FuturaDemiC", "Arial", sans-serif;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .registration_form_field--button {
    position: absolute;
    top: 260px;
    width: 340px;
    box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
    border: 0;
    border-radius: 0;
  }
}

@media (max-width: 767.98px) {
  .registration_form_field:first-child {
    margin-bottom: 63px;
  }
}

.registration_form_agreement {
  width: 286px;
  margin: 33px auto 0 auto;
}
@media (max-width: 767.98px) {
  .registration_form_agreement {
    margin: 27px 0;
  }
}

.agreement_controls {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "FuturaDemiC", "Arial", sans-serif;
  font-size: 18px;
  color: #181818;
}
.agreement_controls--box {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.agreement_controls--text {
  font-family: "FuturaBookC", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #181818;
}
@media (max-width: 767.98px) {
  .agreement_controls--text {
    color: #FFFFFF;
    line-height: 22px;
  }
}
.agreement_controls--checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  cursor: pointer;
  background-color: #E3B873;
}
.agreement_controls--checkmark:after {
  position: absolute;
  left: 6px;
  top: 3px;
  width: 4px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
}

/* the end of registration block */
.types_of_repair_container {
  min-height: 706px;
}
@media (max-width: 767.98px) {
  .types_of_repair_container {
    margin-top: 83px;
  }
}
.types_of_repair_container--title {
  width: 196px;
  margin: 0 auto;
  padding-bottom: 13px;
  font-family: "Yeseva One", "Georgia", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 28px;
  color: #181818;
  text-align: center;
}
@media (max-width: 767.98px) {
  .types_of_repair_container--title {
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 17px;
  }
}

.types_of_repair_separator {
  width: 114px;
  position: relative;
  margin: 0 auto;
}
.types_of_repair_separator--left_vector {
  position: absolute;
  top: 15px;
  left: 0;
}
.types_of_repair_separator--tools {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 40px;
}
.types_of_repair_separator--right_vector {
  position: absolute;
  top: 15px;
  right: 5px;
}

.types_of_repair_columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 44px;
}
@media (max-width: 767.98px) {
  .types_of_repair_columns {
    margin-top: 68px;
    height: 1570px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 119px;
  }
}
.types_of_repair_columns--type {
  position: relative;
  width: 392px;
  height: 608px;
  margin: 15px 15px 0 15px;
}
@media (max-width: 767.98px) {
  .types_of_repair_columns--type {
    position: relative;
    width: 340px;
    height: 365px;
    margin: 0 auto;
  }
}
.types_of_repair_columns--type1 {
  background-image: url("../assets/images/types/type1.png");
  background-repeat: no-repeat;
}
.types_of_repair_columns--type2 {
  background-image: url("../assets/images/types/type2.png");
  background-repeat: no-repeat;
}
.types_of_repair_columns--type3 {
  background-image: url("../assets/images/types/type3.png");
  background-repeat: no-repeat;
}
.types_of_repair_columns--textbox {
  position: absolute;
  top: 295px;
  left: 31px;
  width: 330px;
  height: 286px;
  padding: 25px 31px;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
@media (max-width: 767.98px) {
  .types_of_repair_columns--textbox {
    left: 0;
    top: 223px;
    width: 270px;
    height: 241px;
    padding: 21px 31px;
  }
}
.types_of_repair_columns--textbox_title {
  font-family: "Yeseva One", "Georgia", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 0;
  color: #363636;
}
@media (max-width: 767.98px) {
  .types_of_repair_columns--textbox_title {
    font-size: 15px;
    line-height: 21px;
  }
}
.types_of_repair_columns--textbox_list {
  padding-left: 20px;
  font-family: "FuturaBookC", "Arial", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}
@media (max-width: 767.98px) {
  .types_of_repair_columns--textbox_list {
    font-size: 13px;
    line-height: 22px;
    color: #959595;
  }
}
.types_of_repair_columns--prices {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 31px;
  top: 554px;
  height: 54px;
  width: 228px;
  font-family: "Yeseva One", "Georgia", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #E3B873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}
@media (max-width: 767.98px) {
  .types_of_repair_columns--prices {
    height: 40px;
    width: 190px;
    font-size: 15px;
    line-height: 21px;
    left: 0;
    top: 444px;
  }
}

/* the end of types_of_repair_container block */
.request_container {
  height: 979px;
  display: flex;
  justify-content: space-between;
  padding-top: 124px;
}
.request_container--steps_box {
  height: 645px;
  min-width: 773px;
  width: 54%;
  background-image: url("../assets/images/houses.png");
  background-repeat: no-repeat;
}
.request_container--form_box {
  height: 100%;
  width: 505px;
  padding-top: 106px;
  margin-right: 7%;
}
.request_container--description_box {
  width: 636px;
  height: 636px;
  border-style: solid;
  border-color: #E3B873;
  border-width: 3px;
  border-left-color: transparent;
  border-radius: 50%;
  position: relative;
  top: 60px;
  left: -160px;
}
@media (max-width: 1199.98px) {
  .request_container {
    display: none;
  }
}

.request_container_outer {
  width: 70px;
  height: 70px;
  background-color: #FFFFFF;
  position: absolute;
  border-radius: 50%;
}
.request_container_outer--first {
  top: 35px;
  left: 484px;
}
.request_container_outer--second {
  top: 160px;
  left: 570px;
}
.request_container_outer--third {
  top: 310px;
  left: 593px;
}
.request_container_outer--fourth {
  top: 476px;
  left: 530px;
}

.request_container_text {
  width: 364px;
  position: absolute;
  font-family: "FuturaMediumC", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
}
.request_container_text--first {
  top: 48px;
  left: 564px;
}
.request_container_text--second {
  top: 183px;
  left: 640px;
}
.request_container_text--third {
  top: 335px;
  left: 668px;
}
.request_container_text--fourth {
  top: 491px;
  left: 607px;
}

.request_container_inner {
  width: 45px;
  height: 45px;
  background-color: #E3B873;
  border-radius: 50%;
  margin: 12px;
  font-family: "Yeseva One", "Georgia", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
}

.request_title {
  background-color: #131313;
  height: 114px;
  padding-top: 28px;
  margin: 0;
  font-family: "FuturaDemiC", "Arial", sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.request_form {
  background-color: #131313;
  height: 380px;
  padding: 0 49px 0 49px;
}

.request_fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 244px;
  width: 408px;
  margin: 0 auto;
}

.request_help {
  height: 72px;
  padding: 0 33px;
  background-color: #FFFFFF;
}

.request_form_field--label {
  width: 408px;
  font-family: "FuturaBookC", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.request_form_field--text {
  width: 408px;
  font-family: "FuturaMediumC", "Arial", sans-serif;
  font-size: 18px;
  line-height: 25px;
  background-color: #131313;
  color: #FFFFFF;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.request_form_field--text::placeholder {
  color: #FFFFFF;
}
.request_form_field--button {
  height: 51px;
  width: 213px;
  float: right;
  margin-top: 10px;
  background: #E3B873;
  box-shadow: 0 15px 15px rgba(227, 184, 115, 0.15);
  font-family: "FuturaDemiC", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #E3B873;
  cursor: pointer;
}

.request_form_agreement {
  width: 408px;
  margin: 0 auto;
  margin-top: 18px;
}

.request_agreement_controls {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "FuturaDemiC", "Arial", sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}
.request_agreement_controls--box {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.request_agreement_controls--text {
  font-family: "FuturaBookC", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.request_agreement_controls--checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  cursor: pointer;
  background-color: #E3B873;
}
.request_agreement_controls--checkmark:after {
  position: absolute;
  left: 6px;
  top: 3px;
  width: 4px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
}

.request_help_inner {
  display: flex;
  margin-top: 30px;
  width: 341px;
}
.request_help_inner--logo {
  width: 113px;
}
.request_help_inner--text {
  font-family: "FuturaDemiC", "Arial", sans-serif;
  font-size: 20px;
  line-height: 25px;
  margin-top: 20px;
  color: #E3B873;
  width: 344px;
}

/* the end of request_container block */
.styles_examples_container {
  display: flex;
  justify-content: space-between;
  background: url("../assets/images/styles-background.png");
  background-size: cover;
  margin-top: 114px;
  margin-bottom: 41px;
  padding-left: 99px;
  padding-right: 59px;
  height: 864px;
  position: relative;
}
@media (max-width: 991.98px) {
  .styles_examples_container {
    margin-bottom: 0;
  }
}
@media (max-width: 575.98px) {
  .styles_examples_container {
    display: none;
  }
}

.mobile_styles {
  display: none;
}
@media (max-width: 575.98px) {
  .mobile_styles {
    display: block;
    margin-top: 55px;
    padding: 0 auto;
  }
}
.mobile_styles--title {
  font-family: "Yeseva One", "Georgia", serif;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
}
.mobile_styles--img_container {
  position: relative;
  width: 340px;
  height: 121px;
  margin: 24px auto 0 auto;
}
@media (max-width: 575.98px) {
  .mobile_styles--img {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 340px;
    height: 242px;
    background-image: url("../assets/images/mobile-styles-background.jpg");
  }
}
.mobile_styles--arrow_left {
  position: absolute;
  z-index: 2;
  top: 103px;
  left: 14px;
  width: 36px;
  height: 36px;
  background-image: url("../assets/images/arrows/round-arrow-left.png");
  cursor: pointer;
}
.mobile_styles--arrow_right {
  position: absolute;
  z-index: 2;
  top: 103px;
  right: 14px;
  width: 36px;
  height: 36px;
  background-image: url("../assets/images/arrows/round-arrow-right.png");
}
.mobile_styles--arrow_right:hover {
  background-color: #FFFFFF;
}
.mobile_styles--arrow_left:hover {
  background-color: #FFFFFF;
}

.styles_examples_container_inner {
  position: absolute;
  width: 794px;
  top: -114px;
  height: 1068px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.styles_examples_images {
  width: 794px;
  height: 100%;
}
@media (max-width: 767.98px) {
  .styles_examples_images {
    display: none;
  }
}
.styles_examples_images--element {
  width: 354px;
  margin-right: 5.4%;
  margin-bottom: 38px;
}
.styles_examples_images--element-first {
  margin-top: 70px;
}
@media (max-width: 1199.98px) {
  .styles_examples_images--element-third {
    display: none;
  }
}
@media (max-width: 1199.98px) {
  .styles_examples_images--element-fourth {
    display: none;
  }
}

.styles_examples_list {
  width: 411px;
  height: 516px;
  padding-top: 138px;
}
@media (max-width: 1199.98px) {
  .styles_examples_list {
    width: 80%;
  }
}
.styles_examples_list--title {
  font-family: "Yeseva One", "Georgia", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
  padding-bottom: 47px;
}
.styles_examples_list--inner_block {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  height: 516px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.styles_examples_list--inner_block_item {
  display: inline-block;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 20px;
  line-height: 34px;
  color: #FFFFFF;
  height: 34px;
  cursor: pointer;
}
.styles_examples_list--inner_block_item:hover {
  border-bottom: 1px solid #E3B873;
  display: inline-block;
  color: #E3B873;
}
.styles_examples_list--inner_block_item-first {
  border-bottom: 1px solid #E3B873;
  display: inline-block;
  color: #E3B873;
}

/* the end of styles_examples_container block */
.design_project_container {
  position: relative;
  padding-top: 112px;
  min-height: 620px;
}
@media (max-width: 991.98px) {
  .design_project_container {
    background-color: #252525;
    padding-top: 50px;
  }
}
@media (max-width: 575.98px) {
  .design_project_container {
    padding-top: 173px;
  }
}
@media (max-width: 991.98px) {
  .design_project_container--li-mobile_none {
    display: none;
  }
}
.design_project_container--title {
  margin: 0;
  padding-bottom: 13px;
  font-family: "Yeseva One", "Georgia", serif;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}
@media (max-width: 991.98px) {
  .design_project_container--title {
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    padding-bottom: 16px;
  }
}
.design_project_container--separator {
  width: 114px;
  position: relative;
  margin: 0 auto;
}
.design_project_container--left_vector {
  position: absolute;
  top: 15px;
  left: 0;
}
.design_project_container--icon_tool {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 40px;
}
.design_project_container--right_vector {
  position: absolute;
  top: 15px;
  right: 5px;
}
.design_project_container--text {
  width: 763px;
  margin: 52px auto 39px auto;
  font-family: "FuturaBookC", "Arial", sans-serif;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #363636;
}
@media (max-width: 991.98px) {
  .design_project_container--text {
    width: 334px;
    margin: 51px auto 39px auto;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
  }
}
.design_project_container--columns_types {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #131313;
}
@media (max-width: 991.98px) {
  .design_project_container--columns_types {
    height: 100%;
    background-color: #252525;
  }
}
.design_project_container--background {
  position: absolute;
  top: 0;
  height: 280px;
  width: 100%;
  background-color: #FFFFFF;
}
@media (max-width: 991.98px) {
  .design_project_container--background {
    display: none;
  }
}
.design_project_container--type {
  position: relative;
  height: 100%;
  width: 392px;
  height: 729px;
  margin: 0 15px 15px 15px;
}
@media (max-width: 991.98px) {
  .design_project_container--type {
    width: 340px;
    height: 365px;
  }
}
.design_project_container--type-type1 {
  background-image: url("../assets/images/types/type1.png");
  background-repeat: no-repeat;
}
@media (max-width: 991.98px) {
  .design_project_container--type-type1 {
    margin-bottom: 115px;
  }
}
.design_project_container--type-type2 {
  background-image: url("../assets/images/types/type3.png");
  background-repeat: no-repeat;
}
@media (max-width: 991.98px) {
  .design_project_container--type-type2 {
    margin-bottom: 178px;
  }
}
.design_project_container--type-type3 {
  background-image: url("../assets/images/types/type2.png");
  background-repeat: no-repeat;
}
@media (max-width: 991.98px) {
  .design_project_container--type-type3 {
    margin-bottom: 195px;
  }
}
.design_project_container--textbox_title {
  font-family: "Yeseva One", "Georgia", serif;
  font-size: 18px;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 0;
  color: #363636;
}
@media (max-width: 991.98px) {
  .design_project_container--textbox_title {
    font-size: 15px;
    line-height: 21px;
  }
}
.design_project_container--textbox {
  position: absolute;
  top: 295px;
  left: 31px;
  width: 330px;
  padding: 25px 31px 57px 31px;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
@media (max-width: 991.98px) {
  .design_project_container--textbox {
    top: 223px;
    left: 0;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
    width: 270px;
    padding: 18px 31px 37px 31px;
  }
}
.design_project_container--textbox_list {
  padding-left: 20px;
  font-family: "FuturaBookC", "Arial", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #959595;
  margin: 0;
}
@media (max-width: 991.98px) {
  .design_project_container--textbox_list {
    font-size: 13px;
    line-height: 22px;
  }
}
.design_project_container--prices {
  position: absolute;
  display: flex;
  padding-left: 33px;
  align-items: center;
  left: 0;
  bottom: -27px;
  height: 54px;
  width: 228px;
  font-family: "Yeseva One", "Georgia", serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #E3B873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.1);
}
@media (max-width: 991.98px) {
  .design_project_container--prices {
    bottom: -20px;
    height: 40px;
    width: 190px;
    font-size: 15px;
    line-height: 21px;
    padding-left: 0;
    justify-content: center;
  }
}

.goal_steps_container {
  padding-top: 428px;
  height: 1210px;
  display: flex;
  justify-content: space-evenly;
  background-color: #131313;
}
.goal_steps_container--article {
  width: 515px;
  color: #ffffff;
}
.goal_steps_container--steps_block {
  width: 766px;
}
.goal_steps_container--steps {
  width: 100%;
  height: 178px;
  margin: 45px 0;
  background-color: white;
}

.our_team_container {
  position: relative;
  min-height: 407px;
  background-color: #131313;
  color: white;
}
.our_team_container--workers_types {
  position: absolute;
  top: 222px;
  width: 100%;
  height: 414px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.our_team_container--worker {
  height: 100%;
  width: 272px;
  background-color: aquamarine;
}

.about_emploee {
  height: 504px;
  padding-top: 281px;
  background-color: white;
}

.our_clients_container {
  height: 1071px;
  background-color: white;
}
.our_clients_container--clients_types {
  width: 100%;
  height: 455px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.our_clients_container--client {
  height: 100%;
  width: 455px;
  background-color: aquamarine;
}

.map_container {
  height: 954px;
  background: plum;
}

.footer_block {
  height: 133px;
  background-color: #131313;
}

/*# sourceMappingURL=style.css.map */
