.main_img_container {
  position: relative;

  display: flex;
  height: 707px;
  @media (max-width: 767.98px)  {
    height: 476px;
  }

  &--aside_instagram_wrapper {
    @include flex();
    width: 82px;
    height: 100%;
    padding-bottom: 83px;

    background-color: $dark-background-color;

    @media (max-width: 991.98px) {
      display: none;
    }
  }

  &--scroll_down_block {
    position: absolute;
    top: 658px;
    left: 0px;

    @include flex();
    justify-content: center;
    width: 247px;
    height: 97px;

    background-color: $dark-background-color;

    @media (max-width:991.98px)  {
      display: none;
    }
  }

  &--scroll_down_text {
    padding-right: 12px;

    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;

    color: $white-color;

    &:hover {
      color: $font-yellow-color;
    }
  }

  &--scroll_down_button:hover {
    height: 35px;
    width: 35px;
  }

}

.aside_instagram_text {
  width: 13px;
  margin: 0 auto;

  &--paragraph{

    font-family: $FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;

    color: $font-yellow-color;

    transform: rotate(90deg);
  }
  &--aside_vector {
    display: block;
    margin: 77px auto 0 auto;
  }
  &--link:hover {
    color: $white-color;
  }
}
.main_img {
  width: calc(100% - 80px);
  height: 100%;
  background-image: url("../assets/images/main-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (max-width: 991.98px) {
    width: 100%;
  }

  &--title {
    padding-left: 4.5%;
    padding-top: 14.3%;
    margin: 0;

    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;

    color: $white-color;

    @media (max-width: 575.98px) {
      font-size: 27px;
      line-height: 132.83%;
      padding-top: 22.7%;
    }

    @media (max-width: 375px) {
      font-size: 23px;
      line-height: 31px;
    }

    &-yellow {
      color: $font-yellow-color;
    }
  }

  &--text {
    padding-left: 4.5%;
    margin-top: 19px;
    width: 473px;

    font-family: $FuturaBookC;
    font-size: 22px;
    line-height: 30px;
    color: $white-color;

    @media (max-width: 575.98px) {
      margin-top: 16px;
      margin-bottom: 6px;
      width: 80%;
      font-size: 18px;
      line-height: 135.84%;
    }

    @media (max-width: 375px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &--button {
    margin-top: 41px;
    height: 51px;
    width: 207px;
    margin-right: 15px;

    border: 1px solid $white-color;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: Transparent;

    font-family: $FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: $white-color;

    @media (max-width: 575.98px) {
      display: block;
      width: 91%;
      margin: 26px auto;
    }

    &-hover {
      margin-left: 4.5%;
      background: $font-yellow-color;
      box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);

      &:hover {
        color: $dark-background-color;
      }
    }
  }

  &--button:hover {
    background: $font-yellow-color;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  }

}

/* the end of the main images block */

.separator_links_container {
  background-color: $dark-background-color;
  height: 176px;

  @media (min-width: 991.98px) and (max-width: 1199.98px) {
    height: 100px;
  }

  @media (max-width: 991.98px) {
    display: none;
  }

  &--links_block {
    @include flex();
    width: 623px;
    height: 24px;

    margin-left: 41.5%;
    padding-top: 106px;

    @media (min-width: 992px) and (max-width: 1199.98px) {
      margin-left: 300px;
      padding-top: 5%;

    }
  }


  &--link {
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.3);

  }

  &--link:hover {
    color: $font-yellow-color;
    text-decoration: underline;
  }

  &--link-hover {
    color: $font-yellow-color;
    text-decoration: underline;

    &:hover {
      color: rgba(255, 255, 255, 0.3);
      text-decoration: none;
    }
  }
}

/* the start of completed_project block */

.completed_project_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: $dark-background-color;

  @media (max-width: 767.98px) {
    background-color: $mobile-black-bg;
  }

  &--text_block {
    width: 35.2%;
    margin-top: 0;
    margin-left: 70px;

    @media (max-width: 1199.98px) {
      width: 32.2%;
      margin-left: 45px;
    }

    @media (max-width: 991.98px) {
      width: 53.2%;
      margin-top: 15px;
      margin-left: 10px;
    }

    @media (max-width: 767.98px) {
      margin-left: 0;
      width: 100%;
    }
  }

  &--slider_block {
    width: 58.5%;
    height: 482px;
    overflow: hidden;
    position: relative;

    @media (max-width: 1199.98px) {
      width: 63%;
      height: 482px;
    }

    @media (max-width: 991.98px) {
      width: 45%;
      height: 482px;
    }

    @media (max-width: 767.98px) {
      display: none;
    }
  }

  &--img_separator {
    position: absolute;
    z-index: 1;
    width: 700px;
    height: 482px;
    background-color: $dark-background-color;
    @media (max-width: 1199.98px) {
      display: none;
    }
  }

  &--images_block {
    position: relative;
    width: 2000px;

    @media (max-width: 1199.98px) {
      width: 100%;
    }

    &-first {
      position: absolute;
      z-index: 2;
      margin-right: 20px;

      @media (max-width: 1199.98px) {
        top: 50px;
        right: 0;
        width: 545px;
        height: 386px;
        margin-right: 10px;
      }

      @media (max-width: 991.98px) {
        top: 50px;
        right: 0;
        width: 324px;
        height: 230px;
        margin-right: 10px;
      }
    }

    &-second {
      display: block;
      position: absolute;
      z-index: 0;
      left: 563px;
      @media (max-width: 1199.98px) {
        display: none;
      }
    }
  }

  &--arrow_right {
    width: 85px;
    height: 85px;
    background-image: url("../assets/images/slider-button-right.png");
    position: absolute;
    top: 194px;
    right: 25px;
    z-index: 10;
    cursor: pointer;

    @media (max-width: 991.98px) {
      top: 119px;
      right: 0px;
    }
  }

}

.mobile_completed_project_container {
  display: none;

  @media (max-width: 767.98px) {
    display: block;
  }

  &--images_block {
    position: relative;
    max-width: 375px;
    max-height: 264px;
    margin: 0 auto 36px auto;
  }
  &--arrow_left {
    width: 36px;
    height: 36px;
    background-image: url("../assets/images/arrows/round-arrow-left.png");
    position: absolute;
    top: 103px;
    left: 31px;

    &:hover {
      background-color: $white-color;
    }
  }
  &--arrow_right {
    width: 36px;
    height: 36px;
    background-image: url("../assets/images/arrows/round-arrow-right.png");
    position: absolute;
    top: 103px;
    right: 31px;

    &:hover {
      background-color: $white-color;
    }
  }

  &--image {
    @media (max-width: 375px) {
      max-width: 340px;
      max-height: 242px;
      margin: 0 17px;
    }
  }
}

.completed_project_links {
  margin-top: 66px;

  @media (max-width: 1199.98px) {
    margin-top: 22px;
  }

  @media (max-width: 991.98px) {
    display: none;
  }

  &--link {
    width: 10px;
    height: 10px;
    margin-right: 18px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    pointer-events: auto;
  }

  &--link:hover {
    background-color: $white-color;
  }

  &--prev_arrow {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    pointer-events: auto;
    margin-right: 30px;
  }

  &--prev_arrow_img:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &--next_arrow_img:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &--next_arrow{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    pointer-events: auto;
    margin-left: 12px;
  }

  &--link-hover {
    background-color: $white-color;
  }
}

.completed_project_description {
  &--title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 30px;

    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: $font-yellow-color;


    @media (max-width: 767.98px) {
      margin: 10px auto 10px auto;
      width: 150px;
      display: block;
    }

    @media (max-width: 575.98px) {
      margin: 21px auto 22px auto;
      font-size: 22px;
      line-height: 30px;
      text-align: center;
      letter-spacing: -0.07em;
    }
  }

  &--title_vector{
    margin: 9px 2px;

    @media (max-width: 767.98px) {
        display: none;
     }
  }

  &--text {
    padding-right: 75px;
    font-family: $FuturaBookC;
    font-size: 18px;
    line-height: 29px;
    color: $white-color;

    @media (max-width: 767.98px) {
        width: 350px;
        display: block;
        margin: 0 auto 30px auto;
        padding-right: 0;
    }

    @media (max-width: 575.98px) {
      padding: 0 32px;
      margin: 0 auto 36px auto;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
    }
  }
}

.completed_project_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 364px;
  height: 156px;
  margin-top: 50px;

  @media (max-width: 767.98px) {
      margin: 10px auto;
  }

  @media (max-width: 575.98px) {
    width: 341px;
    height: 146px;
    margin: 0 auto 27px auto;
  }


  &--subtitle {
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: $font-yellow-color;

    @media (max-width: 575.98px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &--text {
    font-family: $FuturaBookC;
    font-size: 15px;
    line-height: 20px;

    color: $white-color;

    @media (max-width: 575.98px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &--item-end {
    @media (max-width: 575.98px) {
      display: grid;
      align-content: end;
    }

  }
}

/* the end of completed_project block */

.video_container {
  position: relative;
  background-color: $dark-background-color;
  @media (max-width: 767.98px) {
    padding-bottom: 61px;
    background-color: $mobile-black-bg;
  }
}
.video_container_title {
  width: 196px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 18px;
  font-family: $YesevaOne;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 28px;
  color: $white-color;
  text-align: center;

  @media (max-width: 991.98px) {
    width: 224px;
    font-size: 22px;
    line-height: 30px;
    padding-top: 38px;
    padding-bottom: 20px;
  }
}

.video_container_separator {
  width: 114px;
  position:relative;
  margin: 0 auto;

  &--left_vector {
    position: absolute;
    top: 15px;
    left: 0;
  }

  &--camera{
    position: absolute;
    width: 33px;
    height: 28px;
    left: 40px;
  }
  &--right_vector {
    position: absolute;
    top: 15px;
    right: 5px;
  }

}

.video_container_video {
  position: relative;
  width: 100%;
  &--frame {
    position: relative;
    border: 0;
    z-index: 2;
    display: block;
    width: 817px;
    margin: 60px auto 0 auto;

    @media (max-width: 991.98px) {
      height: 275px;
      width: 517px;
      margin: 88px auto 0 auto;
    }

    @media (max-width: 575.98px) {
      height: 207px;
      width: 340px;
      margin: 68px auto 0 auto;
    }
  }
  &--controls {
    position: absolute;
    z-index: 2;
    height: 145px;
    width: 145px;
    top: calc(50% - 72.5px);
    left: calc(50% - 72.5px);
    cursor: pointer;

    @media (max-width: 991.98px) {
      top: calc(50% - 31.5px);
      left: calc(50% - 31.5px);
      height: 63px;
      width: 63px;
    }
  }
  &--controls_img {
    height: 145px;
    width: 145px;
    @media (max-width: 991.98px) {
      height: 63px;
      width: 63px;
    }
  }
}


.video_container_background_box {
  position: absolute;
  z-index: 0;
  top: 421px;
  height: 209px;
  width: 100%;
  background-color: $white-color;
  @media (max-width: 991.98px) {
    display: none;
  }
}

.video_container_vector_block {
  height: 98px;
  width: 100%;
  background-color: $white-color;
  padding-top: 63px;
  &--img {
    display: block;
    margin:  0 auto;
  }
  @media (max-width: 767.98px) {
    height: 51px;
    padding-top: 28px;
    background-color: $mobile-black-bg;
  }
}

.video_container_text {
  width: 100%;
  margin-bottom: 92px;
  background-color: $white-color;
  @media (max-width: 767.98px) {
    background-color: $mobile-black-bg;
    margin: 0;
  }
  &--paragraph {
    max-width: 681px;
    margin: 0 auto;
    font-family: $FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    text-align: center;

    color: $black-background;
    @media (max-width: 767.98px) {
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: $white-color;
      padding: 0 18px;
    }
  }
}

/* the end of video block */

.registration {
  height: 250px;
  @media (max-width: 767.98px) {
    position: relative;
    height: 285px;
    background-color: $mobile-black-bg;
  }
}

.registration_form {
  width: 769px;
  margin: 0 auto;
  @media (max-width: 767.98px) {
    width: 340px;
  }
}

.registration_fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 767.98px) {
    width: 340px;
  }
}

.registration_form_field {
  width: 200px;
  @media (max-width: 767.98px) {
    width: 340px;
  }
  &--label {
    width: 231px;
    font-family: $FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    color: rgba(54, 54, 54, 0.5);
    @media (max-width: 767.98px) {
      width: 340px;
      color: rgba(255, 255, 255, 0.5);
    }
  }
  &--text {
    width: 231px;
    font-family: $FuturaBookC;
    font-size: 18px;
    line-height: 24px;
    color: $black-background;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    @media (max-width: 767.98px) {
      width: 340px;
      color: $white-color;
      background-color: $mobile-black-bg;
      border-bottom: 1px solid $white-color;
    }
  }
  &--button {
    height: 51px;
    width: 200px;
    background: $font-yellow-color;
    box-shadow: 0 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    font-family: $FuturaDemiC;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
    border: 1px solid $white-color;
    cursor: pointer;
    @media (max-width: 767.98px) {
      position: absolute;
      top: 260px;
      width: 340px;
      box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
      border: 0;
      border-radius: 0;
    }
  }
}
.registration_form_field:first-child {
  @media (max-width: 767.98px) {
    margin-bottom: 63px;
  }
}

.registration_form_agreement {
  width: 286px;
  margin: 33px auto 0 auto;
  @media (max-width: 767.98px) {
    margin: 27px 0;
  }
}

.agreement_controls {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: $FuturaDemiC;
  font-size: 18px;
  color: $black-color;

  &--box {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  &--text {
    font-family: $FuturaBookC;
    font-size: 16px;
    line-height: 20px;

    color: $black-color;
    @media (max-width: 767.98px) {
      color: $white-color;
      line-height: 22px;
    }
  }

  &--checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    cursor: pointer;
    background-color: #E3B873;
  }

  &--checkmark:after {
    position: absolute;
    left: 6px;
    top: 3px;
    width: 4px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
  }
}
/* the end of registration block */

.types_of_repair_container {
  min-height: 706px;
  @media (max-width: 767.98px) {
    margin-top: 83px;
  }
  &--title {
    width: 196px;
    margin: 0 auto;
    padding-bottom: 13px;
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 28px;
    color: $black-color;
    text-align: center;
    @media (max-width: 767.98px) {
      font-size: 22px;
      line-height: 30px;
      padding-bottom: 17px;
    }
  }
}
.types_of_repair_separator {
  width: 114px;
  position: relative;
  margin: 0 auto;

  &--left_vector {
    position: absolute;
    top: 15px;
    left: 0;
  }

  &--tools {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 40px;
  }
  &--right_vector {
    position: absolute;
    top: 15px;
    right: 5px;
  }
}

.types_of_repair_columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 44px;
  @media (max-width: 767.98px) {
    margin-top: 68px;
    height: 1570px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 119px;
  }
  &--type {
    position: relative;
    width: 392px;
    height: 608px;
    margin: 15px 15px 0 15px;
    @media (max-width: 767.98px) {
      position: relative;
      width: 340px;
      height: 365px;
      margin: 0 auto;
    }
  }
  &--type1 {
    background-image: url("../assets/images/types/type1.png");
    background-repeat: no-repeat;
  }
  &--type2 {
    background-image: url("../assets/images/types/type2.png");
    background-repeat: no-repeat;
  }
  &--type3 {
    background-image: url("../assets/images/types/type3.png");
    background-repeat: no-repeat;
  }
  &--textbox {
    position: absolute;
    top:295px;
    left: 31px;
    width: 330px;
    height: 286px;
    padding: 25px 31px;
    background-color: $white-color;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    @media (max-width: 767.98px) {
      left: 0;
      top:223px;
      width: 270px;
      height: 241px;
      padding: 21px 31px;
    }
  }
  &--textbox_title {
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-top:0;
    margin-bottom:0;

    color: $black-background;
    @media (max-width: 767.98px) {
      font-size: 15px;
      line-height: 21px;
    }
  }
  &--textbox_list {
    padding-left: 20px;
    font-family: $FuturaBookC;
    font-size: 15px;
    line-height: 25px;

    color: #959595;
    @media (max-width: 767.98px) {
      font-size: 13px;
      line-height: 22px;
      color: #959595;
    }
  }
  &--prices {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 31px;
    top: 554px;
    height: 54px;
    width: 228px;
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

    color: $white-color;

    background: $font-yellow-color;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    @media (max-width: 767.98px) {
      height: 40px;
      width: 190px;
      font-size: 15px;
      line-height: 21px;
      left: 0;
      top: 444px;
    }
  }
}

/* the end of types_of_repair_container block */

.request_container {

  height: 979px;
  display: flex;
  justify-content: space-between;
  padding-top: 124px;

  &--steps_box {
    height: 645px;
    min-width: 773px;
    width: 54%;
    background-image: url("../assets/images/houses.png");
    background-repeat: no-repeat;
  }

  &--form_box {
    height: 100%;
    width: 505px;
    padding-top: 106px;
    margin-right: 7%;
  }

  &--description_box {
      width: 636px;
      height: 636px;
      border-style: solid;
      border-color: $font-yellow-color;
      border-width: 3px;
      border-left-color: transparent;
      border-radius: 50%;
      position:relative;
      top:60px;
      left:-160px;
  }
  @media (max-width: 1199.98px) {
    display: none;
  }
}
.request_container_outer {
  width: 70px;
  height: 70px;
  background-color: $white-color;
  position: absolute;
  border-radius: 50%;
  &--first {
    top: 35px;
    left: 484px;
  }
  &--second {
    top: 160px;
    left: 570px;
  }
  &--third {
    top: 310px;
    left: 593px;
  }
  &--fourth {
    top: 476px;
    left: 530px;
  }
}

.request_container_text {
  width: 364px;
  position: absolute;
  font-family: $FuturaMediumC;
  font-size: 18px;
  line-height: 21px;

  color: $black-background;

  &--first {
    top: 48px;
    left: 564px;
  }
  &--second {
    top: 183px;
    left: 640px;
  }
  &--third {
    top: 335px;
    left: 668px;
  }
  &--fourth {
    top: 491px;
    left: 607px;
  }
}

.request_container_inner {
  width: 45px;
  height: 45px;
  background-color: $font-yellow-color;
  border-radius: 50%;
  margin: 12px;
  font-family: $YesevaOne;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 10px;
  color: $white-color;
}

.request_title {
  background-color: $dark-background-color;
  height: 114px;
  padding-top: 28px;
  margin: 0;
  font-family: $FuturaDemiC;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: $white-color;
}
.request_form {
  background-color: $dark-background-color;
  height: 380px;
  padding: 0 49px 0 49px;
}
.request_fields{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 244px;
  width: 408px;
  margin: 0 auto;
}
.request_help {
  height: 72px;
  padding: 0 33px;
  background-color: $white-color;
}

.request_form_field {
  &--label {
    width: 408px;
    font-family: $FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
  }
  &--text {
    width: 408px;;
    font-family: $FuturaMediumC;
    font-size: 18px;
    line-height: 25px;
    background-color: $request-background;
    color: $white-color;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  &--text::placeholder {
    color: $white-color;
  }

  &--button {
    height: 51px;
    width: 213px;
    float: right;
    margin-top: 10px;
    background: $font-yellow-color;
    box-shadow: 0 15px 15px rgba(227, 184, 115, 0.15);
    font-family: $FuturaDemiC;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
    border: 1px solid $font-yellow-color;
    cursor: pointer;
  }
}

.request_form_agreement {
  width: 408px;
  margin: 0 auto;
  margin-top: 18px;
}

.request_agreement_controls {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: $FuturaDemiC;
  font-size: 18px;
  color: $white-color;

  &--box {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  &--text {
    font-family: $FuturaBookC;
    font-size: 16px;
    line-height: 22px;

    color: $white-color;
  }

  &--checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    cursor: pointer;
    background-color: $font-yellow-color;
  }

  &--checkmark:after {
    position: absolute;
    left: 6px;
    top: 3px;
    width: 4px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
  }
}

.request_help_inner {
  display:flex;
  margin-top:30px;
  width: 341px;

  &--logo {
    width: 113px;
  }
  &--text {
    font-family: $FuturaDemiC;
    font-size: 20px;
    line-height: 25px;
    margin-top:20px;
    color: $font-yellow-color;
    width: 344px;
  }
}

/* the end of request_container block */

.styles_examples_container {
  display: flex;
  justify-content: space-between;
  background: url("../assets/images/styles-background.png");
  background-size: cover;
  margin-top: 114px;
  margin-bottom: 41px;
  padding-left: 99px;
  padding-right: 59px;
  height: 864px;
  position: relative;
  @media (max-width: 991.98px) {
    margin-bottom: 0;
  }
  @media (max-width: 575.98px) {
    display: none;
  }
}

.mobile_styles {
  display: none;
  @media (max-width: 575.98px) {
    display: block;
    margin-top: 55px;
    padding: 0 auto;
  }
  &--title {
    font-family: $YesevaOne;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $font-yellow-color;
  }

  &--img_container {
    position: relative;
    width: 340px;
    height: 121px;
    margin: 24px auto 0 auto;
  }

  &--img {
    @media (max-width: 575.98px) {
      position: absolute;
      z-index: 1;
      top: 0;
      width: 340px;
      height: 242px;
      background-image: url("../assets/images/mobile-styles-background.jpg");
    }
  }

  &--arrow_left {
    position: absolute;
    z-index: 2;
    top: 103px;
    left: 14px;
    width: 36px;
    height: 36px;
    background-image: url("../assets/images/arrows/round-arrow-left.png");
    cursor: pointer;
  }

  &--arrow_right {
    position: absolute;
    z-index: 2;
    top: 103px;
    right: 14px;
    width: 36px;
    height: 36px;
    background-image: url("../assets/images/arrows/round-arrow-right.png");
  }

  &--arrow_right:hover {
    background-color: $white-color;
  }

  &--arrow_left:hover {
    background-color: $white-color;
  }
}

.styles_examples_container_inner {
  position: absolute;
  width: 794px;
  top: -114px;
  height: 1068px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.styles_examples_images {
  width: 794px;
  height: 100%;

  @media (max-width: 767.98px) {
    display: none;
  }

  &--element {
    width: 354px;
    margin-right: 5.4%;
    margin-bottom: 38px;
  }

  &--element-first {
    margin-top: 70px;
  }
  &--element-third {
    @media (max-width: 1199.98px) {
      display: none;
    }
  }
  &--element-fourth {
    @media (max-width: 1199.98px) {
      display: none;
    }
  }
}

.styles_examples_list {
  width: 411px;
  height: 516px;
  padding-top: 138px;
  @media (max-width: 1199.98px) {
    width: 80%;
  }

  &--title {
    font-family: $YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: $font-yellow-color;
    padding-bottom: 47px;
  }

  &--inner_block{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    height: 516px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &--inner_block_item {
    display: inline-block;
    font-family: $ProximaNova;
    font-size: 20px;
    line-height: 34px;
    color: $white-color;
    height: 34px;
    cursor: pointer;
  }

  &--inner_block_item:hover {
    border-bottom: 1px solid $font-yellow-color;
    display: inline-block;
    color: $font-yellow-color;
  }

  &--inner_block_item-first {
    border-bottom: 1px solid $font-yellow-color;
    display: inline-block;
    color: $font-yellow-color;
  }
}

/* the end of styles_examples_container block */

.design_project_container {
  position: relative;
  padding-top: 112px;
  min-height: 620px;
  @media (max-width: 991.98px) {
    background-color:  #252525;
    padding-top: 50px;
  }
  @media (max-width: 575.98px) {
    padding-top: 173px;
  }

  &--li-mobile_none {
    @media (max-width: 991.98px) {
      display: none;
    }
  }

  &--title {
    margin: 0;
    padding-bottom: 13px;
    font-family: $YesevaOne;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: $black-color;

    @media (max-width: 991.98px) {
      font-size: 22px;
      line-height: 30px;
      color: $white-color;
      padding-bottom: 16px;
    }
  }

  &--separator {
    width: 114px;
    position: relative;
    margin: 0 auto;
  }

  &--left_vector {
    position: absolute;
    top: 15px;
    left: 0;
  }

  &--icon_tool {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 40px;
  }

  &--right_vector {
    position: absolute;
    top: 15px;
    right: 5px;
  }

  &--text {
    width: 763px;
    margin: 52px auto 39px auto;
    font-family: $FuturaBookC;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: $black-background;
    @media (max-width: 991.98px) {
      width: 334px;
      margin: 51px auto 39px auto;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      color: $white-color;
    }
  }

  &--columns_types {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $request-background;
    @media (max-width: 991.98px) {
      height: 100%;
      background-color: $mobile-black-bg;
    }
  }

  &--background {
    position: absolute;
    top: 0;
    height: 280px;
    width: 100%;
    background-color: $white-color;
    @media (max-width: 991.98px) {
      display: none;
    }
  }

  &--type {
    position: relative;
    height: 100%;
    width: 392px;
    height: 688px;
    margin: 0 15px 15px 15px;

    @media (max-width: 991.98px) {
      width: 340px;
      height: 365px;
    }

    &-type1 {
      background-image: url("../assets/images/types/type1.png");
      background-repeat: no-repeat;
      @media (max-width: 991.98px) {
        margin-bottom: 115px;
      }
    }

    &-type2 {
      background-image: url("../assets/images/types/type3.png");
      background-repeat: no-repeat;
      @media (max-width: 991.98px) {
        margin-bottom: 178px;
      }
    }

    &-type3 {
      background-image: url("../assets/images/types/type2.png");
      background-repeat: no-repeat;
      @media (max-width: 991.98px) {
        margin-bottom: 195px;
      }
    }
  }

  &--textbox_title {
    font-family: $YesevaOne;
    font-size: 18px;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 0;
    color: $black-background;
    @media (max-width: 991.98px) {
      font-size: 15px;
      line-height: 21px;
    }
  }

  &--textbox {
    position: absolute;
    top: 295px;
    left: 31px;
    width: 330px;
    padding: 25px 31px 57px 31px;
    background-color: $white-color;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    @media (max-width: 991.98px) {
      top: 223px;
      left: 0;
      box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
      width: 270px;
      padding: 18px 31px 37px 31px;
    }
  }

  &--textbox_list {
    padding-left: 20px;
    font-family: $FuturaBookC;
    font-size: 15px;
    line-height: 25px;
    color: #959595;
    margin: 0;
    @media (max-width: 991.98px) {
      font-size: 13px;
      line-height: 22px;
    }
  }

  &--prices {
    position: absolute;
    display: flex;
    padding-left: 33px;
    align-items: center;
    left: 0;
    bottom: -27px;
    height: 54px;
    width: 228px;
    font-family: $YesevaOne;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: $white-color;
    background: $font-yellow-color;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.1);
    @media (max-width: 991.98px) {
      bottom: -20px;
      height: 40px;
      width: 190px;
      font-size: 15px;
      line-height: 21px;
      padding-left: 0;
      justify-content: center;
    }
  }
}

/* the end of design_project_container block */

.goal_steps_container {
  display: flex;
  justify-content: space-between;
  padding: 0 7%;
  height: 100%;
  background-color: $dark-background-color;
  @media (max-width: 991.98px) {
    background-color: $mobile-black-bg;
  }
  @media (max-width: 767.98px) {
    display: none;
  }


  &--article {
    min-width: 337px;
    color: $white-color;
  }

  &--upper_text {
    font-family: $FuturaDemiC;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
  }

  &--title {
    display: inline-block;
    margin: 18px 58px 92px 0;
    font-family: $YesevaOne;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;

    color: $font-yellow-color;
  }

  &--title_vector {
    margin-bottom: 12px;
  }

  &--steps_block {
    display: flex;
    margin-top: 87px;
    flex-direction: column;
    justify-content: space-between;
    width: 61.8%;
  }

  &--steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 28%;
    grid-row-gap: 36px;
    width: 100%;
    height: 178px;
    @media (max-width: 1199.98px) {
      grid-column-gap: 10%;
    }
    @media (max-width: 991.98px) {
      grid-column-gap: 2%;
    }
  }

  &--step_item {
    opacity: 0.3;
    cursor: pointer;

    &-selected {
      opacity: 1;
    }
  }

  &--step_item:hover {
    opacity: 1;
  }

  &--inner_item {
    width: 125px;
  }

  &--step_number {
    display: inline-block;
    margin-bottom: 15px;
    border-bottom: 1px solid $font-yellow-color;
    font-family: $YesevaOne;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    color: $white-color;
  }

  &--step_text {
    font-family: $FuturaBookC;
    font-size: 15px;
    line-height: 18px;

    color: $white-color;
  }

  &--img {
    height: 376px;
    max-width: 765px;
    margin-top: 45px;
    background-image: url("../assets/images/goal-steps.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    @media (max-width: 1199.98px) {
      height: 314px;
    }
    @media (max-width: 991.98px) {
      height: 255px;
    }
  }
}

.goal_steps_description {

  &--pages {
    font-family: $YesevaOne;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
  }

  &--subtitle {
    margin: 22px 0 16px 0;
    width: 262px;
    font-family: $YesevaOne;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;

    color: $font-yellow-color;
  }

  &--text {
    width: 337px;
    height: 222px;
    margin-bottom: 61px;
    font-family: $FuturaBookC;
    font-size: 15px;
    line-height: 25px;

    color: $white-color;
  }

  &--prev_arrow {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    pointer-events: auto;
    margin-right: 30px;
  }

  &--prev_arrow_img:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &--next_arrow_img:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &--next_arrow{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    pointer-events: auto;
    margin-left: 12px;
  }

  &--circle {
    width: 10px;
    height: 10px;
    margin-right: 18px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    pointer-events: auto;
  }

  &--circle:hover {
    background-color: $white-color;
  }

  &--circle-hover {
    background-color: $white-color;
  }
}

/* the end of goal_steps_description block */

.our_team_container {
  position: relative;
  padding-top: 95px;
  background-color: $dark-background-color;
  color: white;

  @media (max-width: 991.98px) {
    background-color: $mobile-black-bg;
  }

  @media (max-width: 767.98px) {
    padding-top: 0;
  }

  &--title {
    width: 196px;
    margin: 0 auto;
    padding-bottom: 13px;
    font-family: $YesevaOne;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 28px;
    color: $white-color;
    text-align: center;

    @media (max-width: 767.98px) {
      font-size: 22px;
      line-height: 30px;
    }
  }

  &--separator {
    width: 114px;
    position: relative;
    margin: 0 auto;
  }

  &--left_vector {
    position: absolute;
    top: 15px;
    left: 0;
  }

  &--icon_tool {
    position: absolute;
    width: 29px;
    height: 29px;
    left: 40px;
  }

  &--right_vector {
    position: absolute;
    top: 15px;
    right: 5px;
  }

  &--background_box {
    position: absolute;
    top: 316px;
    height: 218px;
    width: 100%;
    background-color: $dark-background-color;

    @media (max-width: 991.98px) {
      display: none;
    }
  }

  &--workers_types {
    top: 0;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: $white-color;

    @media (max-width: 991.98px) {
      background-color: $mobile-black-bg;
    }
  }

  &--worker {
    position: relative;
    height: 100%;
    width: 307px;
    margin-right: 10px;
    margin-bottom: 114px;

    @media (max-width: 991.98px) {
      width: 339px;
      margin-bottom: 110px;
    }
  }
  &--worker_badge {
    margin: 0;
    position: absolute;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
  }

  &--worker_photo {
    margin-top: 35px;
    margin-left: 35px;
    height: 358px;
    width: 272px;

    @media (max-width: 991.98px) {
      height: 358px;
      width: 305px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--worker_profile {
    position: absolute;
    top: 312px;
    left: 55px;
    width: 233px;
    height: 137px;
    padding-top: 22px;
    background-color: $white-color;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);

    @media (max-width: 991.98px) {
      left: 66px;
    }
  }

  &--worker_name {
    font-family: $YesevaOne;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    color: $black-color;
  }

  &--worker_title {
    font-family: $FuturaBookC;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    color: #959595;
    padding-bottom: 20px;
  }

  &--worker_experience {
    width: 233px;
    height: 44px;
    font-family: $YesevaOne;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 13px;
    background: $font-yellow-color;
  }

  &--dmitry {
    background-image: url("../assets/images/our-team/Dmitry.png");
  }

  &--larisa {
    background-image: url("../assets/images/our-team/Larisa.png");
  }

  &--alexey {
    background-image: url("../assets/images/our-team/Alexey.png");
  }
}

.our_team_container_text {
  width: 100%;
  margin-top: 52px;
  margin-bottom: 74px;
  @media (max-width: 767.98px) {
    margin-bottom: 41px;
  }

  &--paragraph {
    max-width: 476px;
    margin: 0 auto;
    font-family: $FuturaBookC;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    @media (max-width: 767.98px) {
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      padding: 0 18px;
    }
  }
}

.about_emploee {
  background-color: white;

  @media (max-width: 991.98px) {
    background-color: $mobile-black-bg;
  }

  @media (max-width: 767.98px) {
   display: none;
  }

  &--text {
    width: 558px;
    margin: 0 auto;
    font-family: $FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    text-align: center;

    color: $black-background;

    @media (max-width: 991.98px) {
      color: $white-color;
    }
  }

  &--vector_block {
    height: 10px;
    width: 100%;

    @media (max-width: 767.98px) {
      height: 51px;
      padding-top: 28px;
      background-color: $mobile-black-bg;
    }
  }

  &--vector {
    display: block;
    margin:  0 auto;
  }
}

/* the end of our_team_container block */

.our_clients_container {
  margin-top: 90px;
  background-color: white;
  @media (max-width: 575.98px) {
    display: none;
  }

  &--title {
    margin: 0;
    padding-bottom: 13px;
    font-family: $YesevaOne;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: $black-color;
  }

  &--separator {
    position: relative;
    width: 114px;
    margin: 0 auto;
  }

  &--left_vector {
    position: absolute;
    top: 15px;
    left: 0;
  }

  &--icon_tool {
    position: absolute;
    width: 34px;
    height: 28px;
    left: 40px;
  }

  &--right_vector {
    position: absolute;
    top: 15px;
    right: 0;
  }

  &--text {
    width: 476px;
    margin: 52px auto 39px auto;
    font-family: $FuturaBookC;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: $black-background;
  }

  &--clients_types {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &--client {
    position: relative;
    width: 376px;
    height: 428px;
    padding: 24px 32px 0 20px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    margin-bottom: 120px;
  }

  &--client_title {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
  }

  &--client_name {
    padding-left: 23px;
    font-family: $YesevaOne;
    font-size: 18px;
    line-height: 23px;
    color: $black-color;
    margin: 0;
  }

  &--review_text {
    font-family: $FuturaBookC;
    font-size: 15px;
    line-height: 27px;
    color: #959595;
    text-transform: lowercase;
  }

  &--review_sentence {
    display: inline-block;
  }

  &--review_sentence::first-letter {
    text-transform: capitalize;
  }

  &--scope_of_work_box {
    position: absolute;
    top: 400px;
    left: 0;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 135px 159px;
    height: 54px;
    width: 295px;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    background-color: $white-color;
  }

  &--scope_of_work {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $font-yellow-color;
  }

  &--size {
    font-family: $YesevaOne;
    font-size: 17px;
    line-height: 24px;

    color: $white-color;
  }

}

/* the end of our_clients_container block */

.map_container {
  height: 954px;
  background: plum;
}
