.request_container {
  display: flex;
  justify-content: space-between;
  height: 979px;
  padding-top: 124px;

  &--steps_box {
    width: 54%;
    min-width: 773px;
    height: 645px;

    background-image: url("../assets/images/houses.png");
    background-repeat: no-repeat;
  }

  &--form_box {
    width: 505px;
    height: 100%;
    margin-right: 7%;
    padding-top: 106px;
  }

  &--description_box {
    position: relative;
    top: 60px;
    left: -160px;

    width: 636px;
    height: 636px;

    border-width: 3px;
    border-style: solid;
    border-color: $font-yellow-color;
    border-left-color: transparent;
    border-radius: 50%;
  }
  @media (max-width: 1199.98px) {
    display: none;
  }
}
.request_container_outer {
  position: absolute;

  width: 70px;
  height: 70px;

  background-color: $white-color;
  border-radius: 50%;
  &--first {
    top: 35px;
    left: 484px;
  }
  &--second {
    top: 160px;
    left: 570px;
  }
  &--third {
    top: 310px;
    left: 593px;
  }
  &--fourth {
    top: 476px;
    left: 530px;
  }
}

.request_container_text {
  position: absolute;

  width: 364px;

  font-size: 18px;
  line-height: 21px;
  font-family: $FuturaMediumC;
  color: $black-background;

  &--first {
    top: 48px;
    left: 564px;
  }
  &--second {
    top: 183px;
    left: 640px;
  }
  &--third {
    top: 335px;
    left: 668px;
  }
  &--fourth {
    top: 491px;
    left: 607px;
  }
}

.request_container_inner {
  width: 45px;
  height: 45px;
  margin: 12px;
  padding: 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  font-family: $YesevaOne;
  text-align: center;
  color: $white-color;

  background-color: $font-yellow-color;
  border-radius: 50%;
}

.request_title {
  height: 114px;
  margin: 0;
  padding-top: 28px;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  font-family: $FuturaDemiC;
  text-align: center;
  color: $white-color;

  background-color: $dark-background-color;
}
.request_form {
  height: 380px;
  padding: 0 49px 0 49px;

  background-color: $dark-background-color;
}
.request_fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 408px;
  height: 244px;
  margin: 0 auto;
}
.request_help {
  height: 72px;
  padding: 0 33px;

  background-color: $white-color;
}

.request_form_field {
  &--label {
    width: 408px;

    font-size: 15px;
    line-height: 20px;
    font-family: $FuturaBookC;
    color: rgba(255, 255, 255, 0.5);
  }
  &--text {
    width: 408px;

    font-size: 18px;
    line-height: 25px;
    font-family: $FuturaMediumC;
    color: $white-color;

    background-color: $request-background;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);;
  }
  &--text::placeholder {
    color: $white-color;
  }

  &--button {
    float: right;
    width: 213px;
    height: 51px;
    margin-top: 10px;

    font-size: 13px;
    line-height: 18px;
    font-family: $FuturaDemiC;
    text-align: center;
    color: $white-color;
    text-transform: uppercase;

    background: $font-yellow-color;
    border: 1px solid $font-yellow-color;
    box-shadow: 0 15px 15px rgba(227, 184, 115, 0.15);
    cursor: pointer;
  }

  &--button:hover {
    @include transparentButton;
  }
}

.request_form_agreement {
  width: 408px;
  margin: 0 auto;
  margin-top: 18px;
}

.request_agreement_controls {
  position: relative;

  display: block;
  margin-bottom: 12px;
  padding-left: 35px;

  font-size: 16px;
  font-family: $FuturaBookC;
  color: $white-color;

  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  &--box {
    position: absolute;

    width: 0;
    height: 0;

    cursor: pointer;
    opacity: 0;
  }

  &--checkmark {
    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;

    background-color: #cccccc;
    cursor: pointer;
  }

  &--box:checked ~ &--checkmark {
    background-color: $font-yellow-color;
  }

  &--checkmark:after {
    @include inputCheckbox;
  }

  &--box:checked ~ &--checkmark:after {
    display: block;
  }
}

.request_help_inner {
  display: flex;
  width: 341px;
  margin-top: 30px;

  &--logo {
    width: 113px;
  }
  &--text {
    width: 344px;
    margin-top: 20px;

    font-size: 20px;
    line-height: 25px;
    font-family: $FuturaDemiC;
    color: $font-yellow-color;
  }
}
