.separator_links_container {
  height: 176px;

  background-color: $dark-background-color;

  @media (min-width: 991.98px) and (max-width: 1199.98px) {
    height: 100px;
  }

  @media (max-width: 991.98px) {
    display: none;
  }

  &--links_block {
    width: 623px;
    height: 24px;
    margin-left: 41.5%;
    padding-top: 106px;

    @include flex();

    @media (min-width: 992px) and (max-width: 1199.98px) {
      margin-left: 300px;
      padding-top: 5%;
    }
  }


  &--link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    font-family: $YesevaOne;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
  }

  &--link:hover {
    color: $font-yellow-color;
    text-decoration: underline;
  }

  &--link-hover {
    color: $font-yellow-color;
    text-decoration: underline;

    &:hover {
      color: rgba(255, 255, 255, 0.3);
      text-decoration: none;
    }
  }
}
