.types_of_repair_container {
  min-height: 706px;
  @media (max-width: 767.98px) {
    margin-top: 83px;
  }
  &--title {
    width: 196px;
    margin: 0 auto;
    padding-bottom: 13px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    font-family: $YesevaOne;
    text-align: center;
    color: $black-color;
    text-transform: uppercase;
    @media (max-width: 767.98px) {
      padding-bottom: 17px;

      font-size: 22px;
      line-height: 30px;
    }
  }
}
.types_of_repair_separator {
  position: relative;

  width: 114px;
  margin: 0 auto;

  &--left_vector {
    position: absolute;
    top: 15px;
    left: 0;
  }

  &--tools {
    position: absolute;
    left: 40px;

    width: 28px;
    height: 28px;
  }
  &--right_vector {
    position: absolute;
    top: 15px;
    right: 5px;
  }
}

.types_of_repair_columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 44px;
  @media (max-width: 767.98px) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1570px;
    margin-top: 68px;
    padding-bottom: 119px;
  }
  &--type {
    position: relative;

    width: 392px;
    height: 608px;
    margin: 15px 15px 0 15px;
    @media (max-width: 767.98px) {
      position: relative;

      width: 340px;
      height: 365px;
      margin: 0 auto;
    }
  }
  &--type1 {
    background-image: url("../assets/images/types/type1.png");
    background-repeat: no-repeat;
  }
  &--type2 {
    background-image: url("../assets/images/types/type2.png");
    background-repeat: no-repeat;
  }
  &--type3 {
    background-image: url("../assets/images/types/type3.png");
    background-repeat: no-repeat;
  }
  &--textbox {
    position: absolute;
    top: 295px;
    left: 31px;

    width: 330px;
    height: 286px;
    padding: 25px 31px;

    background-color: $white-color;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    @media (max-width: 767.98px) {
      top: 223px;
      left: 0;

      width: 270px;
      height: 241px;
      padding: 21px 31px;
    }
  }
  &--textbox_title {
    margin-top: 0;
    margin-bottom: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    font-family: $YesevaOne;
    color: $black-background;
    @media (max-width: 767.98px) {
      font-size: 15px;
      line-height: 21px;
    }
  }
  &--textbox_list {
    padding-left: 20px;

    font-size: 15px;
    line-height: 25px;
    font-family: $FuturaBookC;
    color: #959595;
    @media (max-width: 767.98px) {
      font-size: 13px;
      line-height: 22px;
      color: #959595;
    }
  }
  &--prices {
    position: absolute;
    top: 554px;
    left: 31px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 228px;
    height: 54px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    font-family: $YesevaOne;
    color: $white-color;
    text-transform: uppercase;

    background: $font-yellow-color;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    @media (max-width: 767.98px) {
      top: 444px;
      left: 0;

      width: 190px;
      height: 40px;

      font-size: 15px;
      line-height: 21px;
    }
  }
}
