@font-face {
  font-family: "FuturaDemiC";
  src: url('FuturaDemiC.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaBookC";
  src: url('FuturaBookC.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
